# Network settings
domain: pb.labenv.test

# network address where PocketBase instances listen  
# for internal use only behind the proxy  
bind_address: 127.0.0.1


listen_address: 0.0.0.0
http_port: "7080"

https: false
https_port: "8443"

disable_https_redirect: false

# Paths
download_dir: ./downloads
certificates_dir: ./.certificates
accounts_dir: ./.accounts # Let's Encrypt accounts directory
data_dir: ./data

# Certificate management
acme_email: "" # required when HTTPS is enabled (ACME/Let's Encrypt)
min_certificate_ttl: 720h
max_domain_cert_attempts: 1
cert_request_planner_interval: 5m
cert_request_executor_interval: 1m
certificate_check_interval: 1m

# cert:
#   provider: "cloudflare"
#   props:
#     auth_token: ""


# Sync & command checks
release_sync_interval: 5m
command_check_interval: 10s
